@{
    ViewData["Title"] = "Global Solution";
}

<div class="text-center">
    <h1 class="display-4">Olá, bem vindo ao RADARSE!</h1>
    <p>Funcionalidades: Pesquisa e alteração de status</p>
    <p>A aplicação ajudará as pessoas a visualizarem onde tem radares e em quais kilometragens eles se encontram, assim os motoristas permanecerão na velocidade permitida</p>
</div>
